.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: blue;
}

.roomName {
  margin-bottom: 1rem /* 16px */;
  font-size: 1.5rem /* 24px */;
  font-weight: 600;
  line-height: 2rem /* 32px */;
  color: white;
}
