.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  background-color: #f0f8ff;
  border: 1px solid #e5e7eb;
}

.button {
  font-size: 1.5rem /* 24px */;
  font-weight: 600;
  line-height: 2rem /* 32px */;
  color: white;
}
