.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.main {
  display: flex;
  height: 100%;
}

.three {
  width: 40%;
  height: 100%;
  border-right-width: 1px;
}

.chat {
  width: 60%;
}
