.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.main {
  display: block;
  height: 100%;
}

.menu {
  height: 8%;
}

.sidebar {
  width: 10%;
  height: 100%;
}

.chat {
  height: 92%;
}

.calendar {
  display: flex;
  width: 35%;
  background-color: white; /* 黒色の半透明の背景 */
  border: 1px solid #ccc; /* 枠線 */
  transform: translate(175%, -205%); /* 中央揃えの調整 */
}

.setting {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0 0 0 / 80%);
}
