.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: antiquewhite;
}

.main {
  display: block;
  height: 100%;
}

.three {
  height: 8%;
}

.chat {
  height: 92%;
}
