.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 10rem /* 16px */;
  background-color: gainsboro;
}

.roomName {
  margin-bottom: 1rem /* 16px */;
  font-size: 1.5rem /* 24px */;
  font-weight: 600;
  line-height: 2rem /* 32px */;
  color: red;
}

.textRight {
  text-align: right;
}

.textLeft {
  text-align: left;
}

.userMessage {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  background-color: #60a5fa;
  border-radius: 0.25rem;
}

.botsMessage {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  background-color: #34d399;
  border-radius: 0.25rem;
}
